/*  _variables.sccs */

/*  Color Palette */
$p-color: Pink;
$bg-color: #F4F8FE;
$gina-white: #FBFFFF;
$gina-red: #DA251C;
$gina-red-secondary: #B00800;
$gina-black-bg: #1E1E22;
$gina-gray-bg: #EDEDED;
$gina-p-color: #282222;
$gina-gray-text: #4A4A4A;
$primary-accent-gray: #666666;
$secondary-accent-gray: #979797;
$metacritic-gray:#010101;
$cyan: #259286;
$pink: #C61C6F;

/*  Fonts */
$font-primary: Lato, sans-serif;
$font-secondary: Raleway, sans-serif;


/*  default mixins */
$default-border-radius: 50%;

